/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: url(../images/bg-1.jpg) center center fixed no-repeat;
    -moz-background-size: cover; /* Firefox до 4.0 */
    -webkit-background-size: cover; /* Safari и Chrome */
    -o-background-size: cover; /* Opera до версии 10.53 */
    background-size: cover; /* CSS3 */
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    color: #ffffff;

}

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    border: 1px solid #fff;
    border-radius: inherit;
}

.btn-success {
    border-radius: inherit;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

/* Custom page header */
.header {
    border-bottom: 1px solid rgba(229, 229, 229, 0.34);
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #ffffff;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    color: #ffffff;
    margin-top: 120px;
    background-color: inherit;
    padding: 14px 24px;
    font-size: 21px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.72);
}

/* Supporting marketing content */
.marketing {
    min-width: 100%;
    display: table;
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

}

.table tbody tr td,
.table > tbody > tr > th {
    border-top: 0.5px solid rgba(255, 255, 255, 0.07);
}

.table tr:nth-child(2n+2) {
    background: rgba(0, 0, 0, 0.45); /* Цвет фона */
}

.table tbody tr th {
    padding-right: 0px;
!important;
    padding-left: 25px;
}

.stat {

}

.table-head {
    background: rgba(0, 0, 0, 0.45); /* Цвет фона */
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background: rgba(22, 143, 24, 0.56);
}

.table-test-1 {
    /*background: url(../images/bg-table.png) repeat;*/
    text-align: center;
    color: #ffffff;
    background-color: rgba(21, 21, 21, 0.79);
    font-size: 16px;
}

@media (max-width: 768px) {
    .table-test-1 {
        font-size: 14px;
    }

    .jumbotron {
        margin-top: 70px;
    }
}

.login-form {
    padding-left: 10px;
}

.form-control {
    border-radius: inherit;
}

.input-group-sm > .form-control {
    border-radius: inherit;
}

.form-control:focus {
    border-color: #00ff21;
}

.main-wrapper {
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.86);
    padding: 30px;
    color: #000000;
}

.header-table-nav {
    background: rgba(22, 143, 24, 0.66);
    padding: 10px;
    margin-bottom: 3px;
}

.header-table-nav a {
    text-decoration: none;
    margin-left: 5px;
    color: #c6c6c6;
    padding: 10px;

}

.header-table-nav a:hover {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.active i {
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: #ffffff;
}

.diagonal-table i {
}

.command-list {
    margin-top: 18px;
    font-size: 15px;
}

.edit-command {
    text-align: left;
}

.edit-command tbody tr td {
    padding: 5px;
}

.delete-command i {
    color: #ff5d5d;
}

.delete-command i:hover {
    color: #ff0006;
}

.panel {
    border-radius: inherit;
!important;
}

.schedule {
    background-color: rgba(255, 255, 255, 0.86);
    padding-top: 10px;
    padding-bottom: 10px;
}