<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" ng-app="tournamentApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Создай свой турнир</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cover1.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<div>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <ul class="nav masthead-nav">
                    <li><a href="#/tournaments">Турниры</a></li>
                    <li><a href="#/my">Мои турниры</a></li>
                    <li><a href="/logout">Выйти</a></li>
                </ul>
            </ul>
            <h3>Tournament</h3>
        </div>
       <div ng-view></div>
    </div>
</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="js/main.js"></script>
<script src="js/filters.js"></script>
<script src="js/app-controllers/tournament.controller.js"></script>
<script src="js/app-controllers/table.controller.js"></script>
<script src="js/app-controllers/myTournaments.controller.js"></script>
<script src="js/app-controllers/resultmatch.controller.js"></script>
<script src="js/app-controllers/tournamentEdit.controller.js"></script>
<script src="js/app-controllers/schedule.controller.js"></script>
<script src="js/app-controllers/results.controller.js"></script>
<script src="js/app-services/user.service.js"></script>
<script src="js/app-controllers/ui-bootstrap-tpls-1.2.5.min.js"></script>
<script src="js/app-services/tournament.service.js"></script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>