<div class="row marketing main-wrapper" ng-controller="TournamentCtrl">
    <div class="col-lg-8">
        <h3>{{vm.tournament.tournamentName}}</h3>
        <label for="name-command">Введите название команды:</label>
        <div class="input-group">
            <input type="text" id="name-command" class="form-control" ng-model="vm.teamName">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" ng-click="vm.addTeam()">Добавить</button>
      </span>
        </div><!-- /input-group -->
        <div class="command-list">
            <button class="btn btn-default" ng-click="vm.generateSchedule(vm.tournament.id)">Сгенерировать расписание</button>
            <a  href="#/results/{{vm.tournament.id}}" class="btn btn-default">Результаты матчей</a>
            <br>
            <br>
            <table class="edit-command">
                <thead>
                <tr>
                    <th width="130px">Список команд:</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="team in vm.tournament.teams" ng-include="vm.getTemplate(team)">
                </tr>
                </tbody>
            </table>
            <script type="text/ng-template" id="display">
                <td><a href="/tournament/{{vm.tournament.id}}">{{team.name}}</a>
                </td>
                <td><a ng-click="vm.editTeam(team)"><i class="fa fa-pencil"></i></a></td>
                <td><a class="delete-command"><i class="fa fa-trash-o"></i></a></td>
            </script>
            <script type="text/ng-template" id="edit">
                <td><input type="text" class="form-control" ng-model="vm.selected.name"/></td>
                <td><a ng-click="vm.saveTeam($index)"><i class="fa fa-check"></i></a></td>
                <td><a class="delete-command" ng-click="vm.reset()"><i class="fa fa-times"></i></a></td>
            </script>
        </div>
    </div>
</div>
