<div class="jumbotron">
    <h2>Вход</h2>
    <div class="col-sm-6 col-sm-offset-3">
        <form class="form-horizontal" role="form" method="post" action="/login/process">
            <div class="form-group">
                <input type="email" class="form-control" id="nameInput" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Пароль">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default pull-right">Войти</button>
            </div>
        </form>
    </div>
</div>
