<div class="row marketing main-wrapper">
    <div class="col-lg-12">
        <div style="margin-bottom: 10px;">
            <h3>Мои турниры</h3>
            <a href="#/create" class="edit-link">
                <i class="fa fa-plus"></i> Создать новый
            </a>
        </div>
        <hr>
        <input type="text" class="form-control" ng-model="query" placeholder="Поиск.." style="margin-bottom: 10px">
        <hr>
        <div class="panel panel-default" ng-repeat="tournament in vm.tournaments | filter:query | orderBy:'$index':true">
            <div class="panel-body">
                <a href="#/tournament/{{tournament.id}}" class="pull-left" style="color: black">{{tournament.tournamentName}}</a>
                <a href="#/edit-tournament/{{tournament.id}}" class="pull-right edit-link"><i class="fa fa-pencil"></i> Редактировать</a>
            </div>
        </div>
    </div>
</div>
