<div class="jumbotron">
    <h2>Регистрация</h2>
    <div class="col-sm-6 col-sm-offset-3">
        <form class="form-horizontal" role="form" ng-submit="vm.register()">
            <div class="form-group">
                <input type="text" class="form-control" id="nameInput" ng-model="vm.user.name" placeholder="Имя" required>
            </div>
            <div class="form-group">
                <label for="emailInput" ng-if="vm.isError" style="color:red; font-size: 15px">
                    <strong>Ошибка!</strong> {{vm.error}}
                </label>
                <input type="email" class="form-control" id="emailInput" ng-model="vm.user.email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="passwordInput" ng-model="vm.user.password" placeholder="Пароль" required>
            </div>
            <div class="form-group">
                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <button type="submit" class="btn btn-default pull-right " ng-disabled="form.$invalid || vm.dataLoading">Готово</button>
            </div>
        </form>
    </div>
</div>
