<div class="row marketing">
    <div class="header-table-nav">
        <a href=""><i class="fa fa-th-list"> Список</i></a>
        <a href="" class="active"><i class="fa fa-th"> Шахматка</i></a>
        <a href=""><i class="fa fa-calendar"> Расписание</i></a>
    </div>
    <div style="text-align: left">
        <table class="table table-hover table-test-1">
            <thead class="vertical-text">
            <tr class="table-head">
                <td>№</td>
                <td>Команда</td>
                <td>Лок.</td>
                <td>Дин.</td>
                <td>ЦСК.</td>
                <td>ЗЕН.</td>
                <td>Руб.</td>
                <td>Анж.</td>
                <td>Тер.</td>
                <td>Авв.</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" class="stat">1</th>
                <td>Локомотив</td>
               <td class="diagonal-table"><i class="fa fa-futbol-o"></i></td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td >0 : 0</td>
                <td >0 : 0</td>
                <td>0 : 0</td>
                <td class="points">0 : 0</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Динамо</td>
                <td>0 : 0</td>
               <td class="diagonal-table"><i class="fa fa-futbol-o"></i></td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td >0 : 0</td>
                <td >0 : 0</td>
                <td>0 : 0</td>
                <td class="points">0 : 0</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>ЦСКА</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
               <td class="diagonal-table"><i class="fa fa-futbol-o"></i></td>
                <td>0 : 0</td>
                <td >0 : 0</td>
                <td >0 : 0</td>
                <td>0 : 0</td>
                <td class="points">0 : 0</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Зенит</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
               <td class="diagonal-table"><i class="fa fa-futbol-o"></i></td>
                <td >0 : 0</td>
                <td >0 : 0</td>
                <td>0 : 0</td>
                <td class="points">0 : 0</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Рубин</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
               <td class="diagonal-table"><i class="fa fa-futbol-o"></i></td>
                <td >0 : 0</td>
                <td>0 : 0</td>
                <td class="points">0 : 0</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Анжи</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td >0 : 0</td>
               <td class="diagonal-table"><i class="fa fa-futbol-o"></i></td>
                <td>0 : 0</td>
                <td class="points">0 : 0</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Терек</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td >0 : 0</td>
                <td >0 : 0</td>
               <td class="diagonal-table"><i class="fa fa-futbol-o"></i></td>
                <td class="points">0 : 0</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Ижсталь</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td>0 : 0</td>
                <td >0 : 0</td>
                <td >0 : 0</td>
                <td>0 : 0</td>
                <td class="diagonal-table"><i class="fa fa-futbol-o"></i></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script></script>