<div class="row marketing">
    <div class="header-table-nav">
        <a href="" ng-class="vm.isTable?'active':''" ng-click="vm.showTable()"><i class="fa fa-th-list"> Список</i></a>
        <!--<a href=""><i class="fa fa-th"> Шахматка</i></a>-->
        <a href="" ng-click="vm.showSchedule()" ng-class="vm.isSchedule?'active':''"><i class="fa fa-calendar">
            Расписание</i></a>
    </div>
    <div style="text-align: left">
        <div class="col-lg-12 schedule" ng-if="vm.isSchedule">
            <div  ng-repeat="tour in vm.tours | orderBy:'-numberTour':true">
                <h3 style="color: black">{{tour.numberTour}} тур</h3>
                <div class="panel panel-default" ng-animate="'animate'" ng-repeat="match in tour.matchList">
                    <div class="panel-body" style="color:black; text-align: center;">
                        <div class="col-xs-12" ng-if="match.team1.name == 'MISSED_ROUND' || match.team2.name == 'MISSED_ROUND'">
                                Команда {{match.team1.name == 'MISSED_ROUND'?match.team2.name:match.team1.name}} пропускает тур
                        </div>
                        <div class="col-xs-12" ng-if="!(match.team1.name == 'MISSED_ROUND' || match.team2.name == 'MISSED_ROUND')">
                            <div class="col-xs-4 text-right">{{match.team1.name}}</div>
                            <div class="col-xs-4" style="font-size: 20px;">
                                <div class="col-xs-4 text-right">{{match.numberGoalsT1 == null?'-':match.numberGoalsT1}}</div>
                                <div class="col-xs-2 text-center">:</div>
                                <div class="col-xs-4 text-left">{{match.numberGoalsT2 == null?'-':match.numberGoalsT2}}</div>
                            </div>
                            <div class="col-xs-4 text-left">{{match.team2.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-hover table-test-1" id="table" ng-if="vm.isTable" ng-cloak>
            <thead>
            <tr class="table-head">
                <td width="36px" style="padding-left: 25px">№</td>
                <td>Команда</td>
                <td>И</td>
                <td>В</td>
                <td>Н</td>
                <td>П</td>
                <td>ЗГ</td>
                <td>ПГ</td>
                <td>+/-</td>
                <td>О</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="team in vm.tournament.teams | orderBy:'-numberPoints'">
                <th scope="row" class="stat">{{$index+1}}</th>
                <td>{{team.name}}</td>
                <td>{{team.numberGames}}</td>
                <td>{{team.numberVictories}}</td>
                <td>{{team.numberDraw}}</td>
                <td>{{team.numberDefeats}}</td>
                <td style="color: #a5ea59">{{team.numberScore}}</td>
                <td style="color: red">{{team.numberPassed}}</td>
                <td>{{team.numberScore - team.numberPassed}}</td>
                <td class="points">{{team.numberPoints}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script class="ng-cloak">
    setTimeout(function () {
        var i = 6;

        function hslToRgb(h, s, l) {
            var r, g, b;

            if (s == 0) {
                r = g = b = l; // achromatic
            } else {
                function hue2rgb(p, q, t) {
                    if (t < 0) t += 1;
                    if (t > 1) t -= 1;
                    if (t < 1 / 6) return p + (q - p) * 6 * t;
                    if (t < 1 / 2) return q;
                    if (t < 2 / 3) return p + (q - p) * (2 / 3 - t) * 6;
                    return p;
                }

                var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
                var p = 2 * l - q;
                r = hue2rgb(p, q, h + 1 / 3);
                g = hue2rgb(p, q, h);
                b = hue2rgb(p, q, h - 1 / 3);
            }

            return [Math.floor(r * 255), Math.floor(g * 255), Math.floor(b * 255)];
        }

        function numberToColorHsl(i, min, max) {
            var ratio = i;
            if (min > 0 || max < 1) {
                if (i < min) {
                    ratio = 0;
                } else if (i > max) {
                    ratio = 1;
                } else {
                    var range = max - min;
                    ratio = (i - min) / range;
                }
            }
            var hue = ratio * 1.2 / 3.60;
            var rgb = hslToRgb(hue, 1, .5);
            return 'rgb(' + rgb[0] + ',' + rgb[1] + ',' + rgb[2] + ')';
        }

        $(".points").each(function (index, element) {
            $(element).css("color", numberToColorHsl(i / 10, 0, 1));
            i--;
        })
    }, 2000)
</script>
